<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>IP address</title>
    <meta name="description" content="IP address information">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ip.helge.net</a>
        </div>
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>{{.IP}}</h1>
        <p>
            The address above is the IP address you are originating from.

        </p>
        <p>The client supports the following protocols on the Internet:</p>
        <span class="label label-danger" id="IPv4">IPv4</span>
        <span class="label label-danger" id="IPv6">IPv6</span>
        <p><a style="display: none" class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>IPv6</h2>
            <p>IPv6 is the IP for the future. Are you ready?</p>
            <p><a class="btn btn-default" href="http://test-ipv6.com" role="button">Test yourself &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>BGP lookup</h2>
            <p>You can get some BGP details from your IP address here.</p>
            <p><a class="btn btn-default" href="http://bgp.he.net" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>RIPE</h2>
            <p>RIPE coordinates all IP network resources in Europe, Middle East and parts of Central Asia.</p>
            <p><a class="btn btn-default" href="http://www.ripe.net" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; <a href="http://www.helge.net">Helge Olav Helgesen</a> 2016 - {{.currentYear}}</p>
    </footer>
</div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="js/vendor/bootstrap.min.js"></script>

<script src="js/main.js"></script>
<script src="http://ip6.{{.baseUrl}}/js/main6.js"></script>
<script src="http://ip4.{{.baseUrl}}/js/main4.js"></script>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
    _uacct = "UA-685241-4";
    urchinTracker();
</script>
</body>
</html>